---
import type { CollectionEntry } from "astro:content"

interface Props {
  post: CollectionEntry<"posts">["data"]
  id: string
}

const { id, post } = Astro.props
const { title, type, description } = post
---

<div class="space-y-4">
  <h2 class="text-2xl font-semibold group-hover:text-indigo-500">
    <span transition:name={`${id}-title`}>{title}</span>&nbsp
    <span
      transition:name={`${id}-type`}
      class="text-sm text-indigo-500 font-medium">{type}</span
    >
  </h2>
  <p class="text-xl">{description}</p>
  <h4 class="text-lg font-bold">
    Read more <span
      class="invisible group-hover:text-indigo-500 group-hover:visible">🡢</span
    >
  </h4>
</div>
