---
import type { CollectionEntry } from "astro:content"
import { Image } from "astro:assets"
import Chip from "../Chip.astro"
import GithubLogoSvgRaw from "../../../assets/svgs/github-logo.svg?raw"

interface Props {
  project: CollectionEntry<"projects">["data"]
  id: string
}

const { id, project } = Astro.props
const { title, description, chips, githubLink, previewLink, image } = project
---

<a target="_blank" class="group space-y-4" href={previewLink}>
  <div
    class="flex flex-col items-center gap-x-4 rounded-md bg-slate-800 p-3 md:flex-row"
  >
    <Image
      class="group-hover:translate-y-0.5"
      src={image.src}
      alt={image.alt}
      width="96"
      height="96"
    />
    <div>
      <h2
        transition:name={`${id}-title`}
        class="md:text-left text-center text-xl font-semibold group-hover:text-indigo-500 md:inline-block"
      >
        {title}
      </h2>
      <a
        class="hover:text-indigo-500 hover:-translate-y-0.5"
        href={githubLink}
        target="_blank"
      >
        <div
          class="m-auto fill-white md:inline-block md:ml-2 md:translate-y-1 h-6 w-6"
        >
          <Fragment set:html={GithubLogoSvgRaw} />
        </div>
      </a>
      <p
        transition:name={`${id}-description`}
        class="md:text-left text-center text-gray-400"
      >
        {description}
      </p>
      <div>{chips.map((chip: string) => <Chip text={chip} />)}</div>
    </div>
  </div>
</a>
