---
import type { CollectionEntry } from "astro:content"
import Chip from "./Chip.astro"
import GithubLogoSvgRaw from "../../assets/svgs/github-logo.svg?raw"
import EyeSvgRaw from "../../assets/svgs/eye.svg?raw"

interface Props {
  project: CollectionEntry<"projects">["data"]
}

const { project } = Astro.props
const { title, description, chips, githubLink, previewLink } = project
---

<div class="my-6 space-y-4">
  <h2 class="text-2xl font-semibold group-hover:text-indigo-500">{title}</h2>
  <div>{chips.map((chip: string) => <Chip text={chip} />)}</div>
  <p class="text-xl">{description}</p>

  <div class="flex flex-row text-base font-bold">
    <div class="w-1/2">
      <a
        class="flex align-middle hover:text-indigo-500 hover:-translate-y-0.5"
        href={githubLink}
        target="_blank"
      >
        <div class="h-6 w-6 mr-2 fill-white">
          <Fragment set:html={GithubLogoSvgRaw} />
        </div>
         Link to repo</a
      >
    </div>
    {
      previewLink && (
        <div class="w-1/2">
          <a href={previewLink} target="_blank">
            <div class="flex align-middle hover:text-indigo-500 hover:-translate-y-0.5 ">
              <div class="h-6 w-6 mr-2 fill-white ">
                <Fragment set:html={EyeSvgRaw} />
              </div>
              Preview
            </div>
          </a>
        </div>
      )
    }
  </div>
</div>
