---
import type { CollectionEntry } from "astro:content"
import PageBaseLayout from "./PageBaseLayout.astro"

interface Props {
  post: CollectionEntry<"posts">["data"]
  id: string
}

const { id, post } = Astro.props
const { title, type, publishDate } = post
---

<PageBaseLayout title={`Post - ${title}`}>
  <div class="flex flex-col text-xl break-words mb-16">
    <h6 class="pt-16 text-gray-500 text-lg">
      Publish Date: {publishDate.toISOString().slice(0, 10)}
    </h6>
    <h1
      transition:name={`${id}-title`}
      class="text-4xl text-center font-bold pt-16 mb-4"
    >
      {title}
    </h1>
    <h2
      transition:name={`${id}-type`}
      class="pb-24 text-center text-lg text-indigo-500 font-medium"
    >
      {type}
    </h2>
    <article
      class="prose-xl prose-blockquote:border-l-indigo-800 prose-blockquote:border-l-4 prose-ul:list-disc prose-ol:list-decimal prose-headings:font-bold prose-a:text-indigo-500 prose-img:mx-auto"
    >
      <slot />
    </article>
  </div>
</PageBaseLayout>
